
label
{
  display: block;
  width: 300px;
}
.progress-bar.active, .progress.active .progress-bar
{
  margin-bottom:300px;
}
.img-center
{
    margin:0 auto;
    margin-top: 5%;
}
.row
{
  margin-right: 0;
}
.popis
{
    color:red;
    text-align: center;
    font-size:30px;
}
.jmeno
{
    text-align: center;
    font-size: 42px;
    padding: 2%;
}
.graf-text
{
    text-align: center;
    margin-left: 200px;
}
.sipka
{
    text-align: center;
}
.form-horizontal
{
    width: 80%;
}
footer a
{
  color: #888;
}
footer a:hover
{
  color: #f60;
}

@media only screen and (max-device-width: 756px) 
{
    .form-horizontal
    {
        width: 100%;
    }   
    .control-label
    {
        text-align: center;
    }
}
